.ai-image-generator {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.header {
  font-size: 70px;
  font-weight: 500;
  padding-bottom: 30px;
}

.header span {
  color: #de1b89;
  font-weight: 600;
}

.img-loading {
  display: flex;
  flex-direction: column;
}

.img-loading img {
  width: 512px;
}

.search-box {
  display: flex;
  width: 1000px;
  height: 95px;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  background-color: #1f3540;
}
.search-inp {
  width: 600px;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding-left: 35px;
}

.search-inp::placeholder {
  color: #999;
}

.generate-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 85px;
  font-size: 20px;
  border-radius: 50px;
  background-color: #de1b89;
  cursor: pointer;
}
